<form method="post" action="{{ path('magasin_delete', {'id': magasin.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir le supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ magasin.id) }}">
    <button class="btn">Supprimer</button>
</form>
