{% extends 'base.html.twig' %}

{% block title %}Nouvelle Photo{% endblock %}

{% block stylesheets %}
{# <link rel="stylesheet" href="{{ asset('assets/css/resetcss.css') }}"/> #}
<link rel="stylesheet" href="{{ asset('assets/css/boutique.css') }}"/>
{% endblock %}

{% block body %}
    <h1>Ajout d'une nouvelle photo</h1>

    {{ include('photo/_form.html.twig') }}

    <a href="{{ path('photo_index') }}"><i class="fas fa-undo"></i> Retour à la liste</a>
{% endblock %}

{% block javascripts %}
<script src="https://kit.fontawesome.com/a6c47b94c8.js" crossorigin="anonymous"></script>
{% endblock %}