html{
	box-sizing: border-box;
}
*,*:after,*:before{
	box-sizing: inherit;
}
/*************************************
* Fin BOX-SIZING
*************************************/
:root {
    --a-color: #424242;
    --hx-color: #424242;
    --p-color: #424242;
    --i-color: #0D47A1;
    --bgnav-color: #f2c506;
    --bgbleu-color: #0402d1;
}

body {
	font-family: verdana;
	margin: 0;
	color: var(--p-color);
    line-height: 1.8;
    font-size: 16px;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

a {
	color: var(--a-color);
	text-decoration: none;
}

h1, h2, h3 {
	font-weight: normal;
	text-align: center;
	/* font-family: 'Lobster', cursive; */
}
/**************************************************************************
**************************************************************************
* Fin GLOBAL *
**************************************************************************
**************************************************************************/
.containerBoutique {
    width: 100%;
	max-width: 1200px;
    /* margin: 5% auto 0% auto; */
    margin: 0 auto;
    padding-bottom: 2rem;
}

/*************************************/
/* Section des produits */
/*************************************/
.containerProduits {
    width: 100%;
	/* max-width: 1000px; */
    margin: 0 auto;
    /* border: 1px solid black; */
}
.containerProduits h1 {
    text-align: center;
    font-size: 1.2rem;
    color: var(--p-color);
    text-transform: uppercase;
    margin: 2rem auto 1.5rem auto;
}
.containerProduits aside {
    margin-bottom: 1.5%;
}
.containerProduits aside ul,
ul.listeProduits {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.containerProduits aside ul li {
    width: 20%;
    text-align: center;
}

/*************************************
* Liste des produits *
* Case produit *
*************************************/
ul.listeProduits {
    width: 100%;
    /* border: 1px solid blue; */
}
ul.listeProduits li {
    /* 4 produits par ligne */
    width: calc(100% / 5);
    min-width: 250px;
    margin-right: 20px;
    margin-bottom: 1%;
}
ul.listeProduits figure {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    position: relative; 

    transition: all 0.7s ease-in;
}
/* Gestion des hover */ 
ul.listeProduits figure:hover {
    /* box-shadow: 1px 1px 9px 1px var(--p-color); */
    /* border: 2px solid var(--bgnav-color); */
    background: var(--bgnav-color);
}
ul.listeProduits figure:hover .panierClick {
    opacity: 1;
}
ul.listeProduits figure:hover img {
    transform: scale(1.2) rotate(10deg);
}

/*************************************
* Description du produit *
*************************************/
ul.listeProduits .panierClick {
    position: absolute; 
    /* top: calc(100% / 1.6);  */
    top: 270px;
    left: calc(100% / 6);
    /* left: 10px; */

    opacity: 0;
    transition: all 0.1s ease-in;
}
ul.listeProduits .panierClick a:first-of-type{
    background-color: black;
    color: white;
    font-size: 1.1em;
    padding: 5px 5px;
    transition: all 0.1s ease-in;
    position: relative;
    z-index: 1000;
}
ul.listeProduits .panierClick a:last-of-type{
    background-color: black;
    color: white;
    font-size: 1.1em;
    padding: 5px 10px;
    transition: all 0.1s ease-in;
    position: relative;
    z-index: 1000;    
}
ul.listeProduits .panierClick a:first-of-type:hover {
    background-color: var(--bgnav-color);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}
ul.listeProduits .panierClick a:last-of-type:hover {
    background-color: var(--bgnav-color);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}

/*************************
* Panier en mode mobile *
**************************/
ul.listeProduits .panierClickFooter {
    display: none;
    /* width: 15%; */
    transition: all 0.1s ease-in;
}
ul.listeProduits .panierClickFooter a:first-of-type{
    background-color: black;
    color: white;
    font-size: 1.1em;
    padding: 5px 5px;
    transition: all 0.1s ease-in;
    position: relative;
    z-index: 1000;       
}
ul.listeProduits .panierClickFooter a:last-of-type {
    background-color: black;
    color: white;
    font-size: 1.1em;
    padding: 5px 10px;
    transition: all 0.1s ease-in;
    position: relative;
    z-index: 1000;       
}
ul.listeProduits .panierClickFooter a:first-of-type:hover {
    background-color: var(--bgnav-color);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}
ul.listeProduits .panierClickFooter a:last-of-type:hover {
    background-color: var(--bgnav-color);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}
/*************************
* FIN Panier en mode mobile *
**************************/

ul.listeProduits figure figcaption {
    /* background-color: #ffffff;  */
    background-color: #fdf8df;
    min-height: 200px;
} 

ul.listeProduits figure figcaption .stockZero,
.containerUnProduit .infoProduit .stockZero {
    font-size: 0.8em;
    background-color: red;
    color: white;
    padding: 5px 5px;
} 
ul.listeProduits figure figcaption .stockOk,
.containerUnProduit .infoProduit .stockOk {
    font-size: 0.8em;
    color: green;
} 

ul.listeProduits figure h2, 
ul.listeProduits figure h3, 
ul.listeProduits figure p
{
    text-align: left;
}
ul.listeProduits figure h2
{
    font-size: 1em;
    font-weight: bold;
}
ul.listeProduits figure h3
{
    font-size: 0.7em;
    font-weight: normal;
}

ul.listeProduits figure img {
    /* border-bottom: 1px solid var(--p-color); */
    max-width: 100%;
    max-height: 250px;
    margin-top: 10px;
    margin-bottom: 70px;

    z-index: 99;

    transition: all 0.5s ease-in;
}

ul.listeProduits figure p {
	font-size: 0.85rem;
    line-height: 1rem;
    color: #69696c;
    /* font-family: Overlock, cursive; */
    text-align: center;
    margin-top: 0.8rem;
}

ul.listeProduits figure .prix {
    background: url(../img/image.png) no-repeat;
    background-size: contain;
    text-indent : 7px;

    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: white;
    font-style: italic;
    padding: 5% 1%;
    margin: 5% auto 0% auto;    
    
    width: 45%;
}

/* Affichage des tailles et des couleurs */
.taille,
.couleur {
    width: 15px;
    padding: 4px 11px;
    margin-right: 5px;
    /* margin-bottom: 30px; */
    /* border: 1px solid black; */
    border: 4px solid white;
    background-color: #f2c506;
    color: black;
}
/**************************************************************************
**************************************************************************
* FIN Main *
**************************************************************************
**************************************************************************/
.containerUnProduit {
    width: 100%;
	max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 2rem;
    margin-left: 45px;
    
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.containerUnProduit .retour {
    position: absolute; 
    top: 22%;
    left: 0.2%;
    transform: rotate(-90deg);
    transition: all 0.4s ease-in-out;
}
.containerUnProduit .retour:hover {
    transform: rotate(-45deg);
}
.containerUnProduit .retour a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}
aside.panier {
    position: absolute; 
    top: 22%;
    right: 3%;
}

/************
* Article : titreProduit
************/
.containerUnProduit .titreProduit {
    display: inline-block;
    width: 50%;
    margin-top: 10px;
    /* border: 1px solid black; */
    vertical-align: top;
}
/************
* Article : infoProduit
************/
.containerUnProduit .infoProduit {
    display: inline-block;
    width: 35%;
    min-width: 400px;
    margin-top: 50px;
    margin-left: 15px;
    vertical-align: top;
}

.containerUnProduit .infoProduit p:nth-of-type(1), 
.containerUnProduit .infoProduit p:nth-of-type(2) {
    font-weight: bold;
    font-style: italic;
}
.containerUnProduit .infoProduit p:nth-of-type(1) {
    font-size: 1em;
} 
.containerUnProduit .infoProduit p:nth-of-type(2) {
    font-size: 1.3em;
}

.containerUnProduit .infoProduit .zoneAddCart {
    width: 50%;
    background-color: var(--bgnav-color);
    margin-top: 4%;
    padding: 2% 2%;
    color: black;
}
.containerUnProduit .infoProduit .zoneAddCart input[type="number"] {
	border: 0;
	border-bottom: 1px solid #4e5056;
	background-color: white;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 40%;
    text-align: center;
    font-weight: bold;
}

.containerUnProduit .titreProduit figure img {
    max-width: 100%;
    max-height: 600px;
    border: 2px solid black;
    background-color: #fdf8df;
}
.containerUnProduit .titreProduit figcaption {
    position: relative; 
    top: 5px;
    left: 30px;
}

.titreProduit .listePhotosProduit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.titreProduit .listePhotosProduit i {
    font-size: 2em;
}
.titreProduit .listePhotosProduit .imgSecondaire {
    display: inline-block;
    max-width: 100%;
    max-height: 200px;
    cursor: pointer;
}
.titreProduit .listePhotosProduit .imgSecondaire:hover {
    border: 1px dashed black;
    background-color: #fdf8df;
}
/* 
.titreProduit .listePhotosProduit img.cadreNoir {
    border: 1px solid black;
} */

/************
* Quantite : Validation
************/
input:invalid+span:after {
    content: '✖';
    padding-left: 5px;
  }
  
  input:valid+span:after {
    content: '✓';
    padding-left: 5px;
  }


/************
* Bouton animée : AddCart
************/
.interdit {
    cursor: not-allowed;
}

button {
    width: 100%;
    border: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.95);
    cursor: pointer;
    margin-top: 15px;
}
.psuedo-text {
    color: #571be5;
    position: relative;
    top: 0;
        /* height: 100%; */
        /* width: 100%; */
    display: inline;
    font-size: 1em;
    /* font-size: 700; */
    transition: 0.25s ease-in;
    transition-delay: 0.1s;
}
.button {
    padding: 10px;
    background: white;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    font-weight: 700;
    position: relative;
    will-change: transform;
}
.button-mat {
    color: #571be5;
    border: 0px transparent;
    border-radius: 0.3rem;
    transition: 0.3s ease-in-out;
    transition-delay: 0.35s;
    overflow: hidden;
}
.button-mat:before {
    content: "";
    display: block;
    background: #320bd6;
    position: absolute;
    width: 200%;
    height: 500%;
    border-radius: 100%;
    transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
}
.button-mat:hover .psuedo-text {
    color: white;
}
.button-mat:hover {
    color: transparent;
}
.btn--8 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn--8:before {
    transform: translate(30%, 10%) translateZ(0);
}
.btn--8:hover:before {
    transform: translate(-45%, -34%) translateZ(0);
}  


.table-responsive {
	width: 50%;
    margin: 0 auto 25px;
    background: white;
}

/**************************************************************************
**************************************************************************
* FIN Affichage 1 produit *
**************************************************************************
**************************************************************************/

@media screen and (max-width: 800px) {
    ul.listeProduits {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    ul.listeProduits li {
        width: 70%;
    }
    ul.listeProduits figure {
        text-align: center;
    }    
}

@media screen and (max-width: 500px) {
    .containerProduits aside ul {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    ul.listeProduits .panierClickFooter {
        display: inline;
        position: absolute;
        left: calc(100% / 6);
        transition: all 0.1s ease-in;
    }

    ul.listeProduits .panierClick {
        display: none;
    }

    ul.listeProduits figure {
        text-align: center;
    }
}
/**************************************************************************
**************************************************************************
* FIN Media Queries *
**************************************************************************
**************************************************************************/