html{
	box-sizing: border-box;
}
*,*:after,*:before{
	box-sizing: inherit;
}
/*************************************
* Fin BOX-SIZING
*************************************/
:root {
    --a-color: #424242;
    --hx-color: #424242;
    --p-color: #424242;
    --i-color: #0D47A1;
    --bgnav-color: #f2c506;
    --bgbleu-color: #0402d1;
}

body {
    /* font-family: verdana; */
    font-family: "Poppins", sans-serif;
	margin: 0;
	color: var(--p-color);
    line-height: 1.8;
    font-size: 16px;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

a {
	color: var(--a-color);
	text-decoration: none;
}

h1, h2, h3 {
	font-weight: normal;
	text-align: center;
	/* font-family: 'Lobster', cursive; */
}
/**************************************************************************
**************************************************************************
* Fin GLOBAL *
**************************************************************************
**************************************************************************/
.container {
    width: 100%;
	max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 2rem;
}

/*************************************/
/* Section des produits */
/*************************************/
.containerProduits {
    width: 100%;
    /* margin: 0 auto; */
    margin: 0% auto 0% auto;
}
.containerProduits h1 {
    text-align: center;
    font-size: 1.2rem;
    color: var(--p-color);
    text-transform: uppercase;
    margin: 2rem auto 1.5rem auto;
}
.containerProduits span.animPanier,
.containerProduits span.animPanierMobile {
    font-size: 1rem;
    color: var(--p-color);
    text-transform: uppercase;
    padding: 5px 5px 5px 5px;
    margin-left: 15px;
    border-radius: 5px 5px 5px 5px;
    background-color: var(--bgnav-color);
    transition: all 0.5s ease-in-out;
}
.containerProduits span.adminPanier {
    font-size: 1rem;
    color: var(--p-color);
    text-transform: uppercase;
    padding: 5px 5px 5px 5px;
    margin-right: 15px;
    border-radius: 5px 5px 5px 5px;
    background-color: var(--bgnav-color);
    transition: all 0.5s ease-in-out;
}
/* .containerProduits span.animPanier:hover {
    color: var(--bgnav-color);
    background-color: var(--p-color);
} */
/* .containerProduits h1 > span:hover { */
/* .containerProduits h1 + span > span:hover {
    color: var(--bgnav-color);
    background-color: var(--p-color);
} */

.containerProduits aside {
    margin-bottom: 1.5%;
}
.containerProduits aside ul,
ul.listeProduits {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.containerProduits aside ul li {
    width: 20%;
    text-align: center;
}

/*************************************
* Liste des produits *
* Case produit *
*************************************/
ul.listeProduits {
    width: 100%;
    /* border: 1px solid blue; */
}
ul.listeProduits li {
    /* 4 produits par ligne */
    width: calc(100% / 5);
    min-width: 250px;
    margin-right: 20px;
    margin-bottom: 1%;
}
ul.listeProduits figure {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    text-align: center; /* PJ */

    position: relative; 

    transition: all 0.7s ease-in;
}
/* Gestion des hover */ 
ul.listeProduits figure:hover {
    /* box-shadow: 1px 1px 9px 1px var(--p-color); */
    /* border: 2px solid var(--bgnav-color); */
    background: var(--bgnav-color);
}
ul.listeProduits figure:hover .panierClick {
    opacity: 1;
}
ul.listeProduits figure:hover img {
    transform: scale(1.2) rotate(10deg);
}

/*************************************
* Description du produit *
*************************************/
ul.listeProduits .panierClick {
    position: absolute; 
    /* top: calc(100% / 1.6);  */
    top: 200px; /* PJ */
    left: calc(100% / 6);
    /* left: 10px; */

    opacity: 0;
    transition: all 0.1s ease-in;
}
ul.listeProduits .panierClick a:first-of-type{
    background-color: black;
    color: white;
    font-size: 1.1em;
    padding: 5px 5px;
    transition: all 0.1s ease-in;
    position: relative;
    z-index: 1000;
    text-decoration: none;
}
ul.listeProduits .panierClick a:last-of-type{
    background-color: black;
    color: white;
    font-size: 1.1em;
    padding: 5px 10px;
    transition: all 0.1s ease-in;
    position: relative;
    z-index: 1000;    
}
ul.listeProduits .panierClick a:first-of-type:hover {
    background-color: var(--bgnav-color);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}
ul.listeProduits .panierClick a:last-of-type:hover {
    background-color: var(--bgnav-color);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}

/*************************************/
ul.listeProduits .panierClick2 {
    display: none;
    position: absolute; 
    top: 220px; /* PJ */
    left: calc(100% / 6);

    z-index: 100;  

    opacity: 0;
}
ul.listeProduits .panierClick2 a:first-of-type{
    background-color: black;
    color: white;
    font-size: 1.1em;
    padding: 5px 5px;
    transition: all 0.1s ease-in;
    position: relative;
    z-index: 1000;
    text-decoration: none;
}
/*************************************/

/*************************
* Panier en mode mobile *
**************************/
ul.listeProduits .panierClickFooter {
    display: none;
    /* width: 15%; */
    transition: all 0.1s ease-in;
}
ul.listeProduits .panierClickFooter a:first-of-type{
    background-color: black;
    color: white;
    font-size: 1.1em;
    padding: 5px 5px;
    transition: all 0.1s ease-in;
    position: relative;
    z-index: 1000;       
    text-decoration: none;
}
ul.listeProduits .panierClickFooter a:last-of-type {
    background-color: black;
    color: white;
    font-size: 1.1em;
    padding: 5px 10px;
    transition: all 0.1s ease-in;
    position: relative;
    z-index: 1000;       
}
ul.listeProduits .panierClickFooter a:first-of-type:hover {
    background-color: var(--bgnav-color);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}
ul.listeProduits .panierClickFooter a:last-of-type:hover {
    background-color: var(--bgnav-color);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}
/*************************
* FIN Panier en mode mobile *
**************************/

ul.listeProduits figure figcaption {
    /* background-color: #ffffff;  */
    background-color: #fdf8df;
    min-height: 200px;
} 

ul.listeProduits figure figcaption h2 {
    text-align: center;
} 

ul.listeProduits figure figcaption .stockZero,
.containerUnProduit .infoProduit .stockZero,
.containerUnProduitModal .infoProduitModal .stockZero {
    font-size: 0.8em;
    background-color: red;
    color: white;
    padding: 5px 5px;
} 
ul.listeProduits figure figcaption .stockOk,
.containerUnProduit .infoProduit .stockOk,
.containerUnProduitModal .infoProduitModal .stockOk {
    font-size: 0.8em;
    background-color: #C5E1A5;
    color: var(--p-color);    
    padding: 5px 5px;
} 

ul.listeProduits figure h2, 
ul.listeProduits figure h3, 
ul.listeProduits figure p
{
    text-align: left;
}
ul.listeProduits figure h2
{
    font-size: 1em;
    font-weight: bold;
}
ul.listeProduits figure h3
{
    font-size: 0.7em;
    font-weight: normal;
}

ul.listeProduits figure img {
/* Avant */
/*    max-width: 100%;
    max-height: 250px;
    margin-top: 10px;
    margin-bottom: 70px;
/* Apres */
max-width: 70%;
max-height: 250px;
margin-top: 10px;
margin-bottom: 70px;

    z-index: 99;

    transition: all 0.5s ease-in;
}

ul.listeProduits figure p {
	font-size: 0.85rem;
    line-height: 1rem;
    color: #69696c;
    /* font-family: Overlock, cursive; */
    text-align: center;
    margin-top: 0.8rem;
}

ul.listeProduits figure .prix {
    background: url(../img/image.png) no-repeat;
    background-size: contain;
    text-indent : 3px;
    font-size: 1rem;
    /* font-weight: bold; */
    font-style: italic;
    text-align: center;
    color: white;
    font-style: italic;
    padding: 5% 4%;
    margin: 5% auto 0% auto;    
    /* width: 45%; */
    width: 36%;
}
/**********************************************/
/* Page Modale */
.titreProduitModal h2 {
    text-align: left;
    font-size: 1.4em;
}
.titreProduitModal h3.prix {
    background: url(../img/image.png) no-repeat;
    background-size: contain;
    text-indent : 7px;
    font-size: 1.1rem;
    /* font-weight: bold; */
    font-style: italic;
    text-align: center;
    color: white;
    font-style: italic;
    padding: 2% 1%;
    margin: 1% auto 0.5% auto;    
    width: 15%;
}

/* Affichage des tailles et des couleurs */
.taille,
.couleur {
    width: 35px;
    padding: 4px 11px;
    margin-right: 5px;
    border: 4px solid white;
    background-color: #f2c506;
    color: black;
} 
div.zoneTailleModal {
    text-align: center;
}
/**************************************************************************
**************************************************************************
* FIN Main *
**************************************************************************
**************************************************************************/
.containerUnProduit {
    width: 100%;
	max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 2rem;
    margin-left: 45px;
    
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
/*****************************************/
/* Modale */
.containerUnProduitModal {
    width: 100%;
	max-width: 800px;
    /* margin: 0 auto; */
    /* padding-bottom: 2rem; */
    
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.containerUnProduit .retour a,
.containerPanier .retour a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}
aside.panier a {
    position: absolute; 
    top: 1%;
    right: 3%;
    text-decoration: none;
}

/************
* Article : titreProduit
************/
.containerUnProduit .titreProduit {
    display: inline-block;
    width: 80%;
    margin-top: 10px;
    /* border: 1px solid black; */
    vertical-align: top;
}
/*****************************************/
/* Modale */
.containerUnProduitModal .titreProduitModal {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    /* border: 1px solid black; */
    vertical-align: top;
    text-align: center;
}
/************
* Article : infoProduit
************/
.containerUnProduit .infoProduit {
    display: inline-block;
    width: 35%;
    min-width: 400px;
    margin-top: 50px;
    margin-left: 15px;
    vertical-align: top;
}
.containerUnProduit .infoProduit p:nth-of-type(1), 
.containerUnProduit .infoProduit p:nth-of-type(2) {
    font-weight: bold;
    font-style: italic;
}
.containerUnProduit .infoProduit p:nth-of-type(1) {
    font-size: 1em;
} 
.containerUnProduit .infoProduit p:nth-of-type(2) {
    font-size: 1.3em;
}
/*****************************************/
/* Modale */
.containerUnProduitModal .infoProduitModal {
    display: inline-block;
    width: 80%;
    min-width: 400px;
    margin-top: 5px;
    margin-left: 15px;
    vertical-align: top;
}
/** Avant **/
/* .containerUnProduitModal .infoProduitModal p:nth-of-type(1), 
.containerUnProduitModal .infoProduitModal p:nth-of-type(2) {
    font-weight: bold;
    font-style: italic;
}
.containerUnProduitModal .infoProduitModal p:nth-of-type(1) {
    font-size: 1em;
} 
.containerUnProduitModal .infoProduitModal p:nth-of-type(2) {
    font-size: 1.3em;
} */
/** Après **/
.containerUnProduitModal .infoProduitModal p:nth-of-type(1) {
    width: 100%;
    /* font-weight: bold; */
    font-style: italic;
    font-size: 1em;
}
.containerUnProduitModal .infoProduitModal p:nth-of-type(2) {
    width: 50%;
    margin: 0 auto;
} 

/*************************************************************/
/** Page 1 produit **/
.containerUnProduit .infoProduit .zoneAddCart {
    width: 50%;
    background-color: var(--bgnav-color);
    margin-top: 4%;
    padding: 2% 2%;
    color: black;
}
.containerUnProduit .infoProduit .zoneAddCart input[type="number"] {
	border: 0;
	border-bottom: 1px solid #4e5056;
	background-color: white;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 40%;
    text-align: center;
    font-weight: bold;
}
/** Page multi produit **/
.zoneAddCart {
    width: 50%;
    background-color: var(--bgnav-color);
    margin-top: 4%;
    padding: 2% 2%;
    color: black;
}
/*****************************************/
/* Modale */
.zoneAddCartModal {
    width: 100%;
    background-color: var(--bgnav-color);
    margin-top: 1%;
    padding: 2% 2%;
    color: black;
}
/*************************************************************/

.containerUnProduit .titreProduit figure img {
    background: var(--bgnav-color);
}
.containerUnProduit .titreProduit figure img {
    max-width: 100%;
    max-height: 600px;
    border: 2px solid black;
    /* transform: rotate(10deg); */
}
.containerUnProduit .titreProduit figcaption {
    position: relative; 
    top: 5px;
    left: 30px;
}
/*****************************************/
/* Modale */
/* .containerUnProduitModal .titreProduitModal figure {
    max-width: 70%;

    background: #ffffff; 
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #e5e5e5 100%); 
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); 
    background: radial-gradient(ellipse at center,  #ffffff 0%,#e5e5e5 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); 
} */

.containerUnProduitModal .titreProduitModal figure img {
    max-width: 70%;
    max-height: 480px;
    /* border: 2px solid black; */
    background: var(--bgnav-color);
}

.titreProduit .listePhotosProduit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.titreProduit .listePhotosProduit i {
    font-size: 2em;
}
.titreProduit .listePhotosProduit .imgSecondaire {
    display: inline-block;
    max-width: 100%;
    max-height: 200px;
    cursor: pointer;
}
.titreProduit .listePhotosProduit .imgSecondaire:hover {
    border: 1px dashed black;
    background-color: #fdf8df;
}
/*****************************************/
/* Modale */
.titreProduitModal .listePhotosProduitModal .imgSecondaire {
    display: inline-block;
    max-width: 20%;
    max-height: 200px;
    cursor: pointer;
}
.titreProduitModal .listePhotosProduitModal .imgSecondaire:hover {
    border: 1px dashed black;
    background-color: #fdf8df;
}


/************
* Quantite : Validation
************/
input:invalid+span:after {
    content: '✖';
    padding-left: 5px;
  }
  
  input:valid+span:after {
    content: '✓';
    padding-left: 5px;
  }


/************
* Bouton animée : AddCart
************/
button.button {
    width: 100%;
    border: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.95);
    cursor: pointer;
    margin-top: 15px;
}
.interdit {
    cursor: not-allowed;
}
/*********************************/
/* page modal des tailles des produits */
div.TailleInfoAffichee {
    display: inline-block;
}
div.TailleInfoCachee {
    display: none;
}
/*********************************/
/*********************************/
/* page modal des produits */
button.buttonAffic {
    display: inline-block;
}
button.buttonCachee {
    display: none;
}
button.buttonInterdit {
    cursor: not-allowed;
}
/*********************************/
/* Bouton ajouter */
.psuedo-text {
    color: #571be5;
    position: relative;
    top: 0;
    display: inline;
    font-size: 1em;
    transition: 0.25s ease-in;
    transition-delay: 0.1s;
}
/* Bouton valider */
.psuedo-text-valider {
    color: #388E3C;
    position: relative;
    top: 0;
        /* height: 100%; */
        /* width: 100%; */
    display: inline;
    font-size: 1em;
    /* font-size: 700; */
    transition: 0.25s ease-in;
    transition-delay: 0.1s;
}
/* Bouton Connexion */
.psuedo-text-connexion {
    color: #f48b00;
    position: relative;
    top: 0;
    display: inline;
    font-size: 1em;
    transition: 0.25s ease-in;
    transition-delay: 0.1s;
}

.button {
    padding: 10px;
    background: white;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 700;
    position: relative;
    will-change: transform;
}

/* Bouton ajouter */
.button-mat {
    color: #571be5;
    border: 0px transparent;
    border-radius: 0.3rem;
    transition: 0.3s ease-in-out;
    transition-delay: 0.35s;
    overflow: hidden;
}
.button-mat:before {
    content: "";
    display: block;
    background: #320bd6;
    position: absolute;
    width: 200%;
    height: 500%;
    border-radius: 100%;
    transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
}
/* Bouton valider */
.button-mat-valider {
    color: #388E3C;
    border: 0px transparent;
    border-radius: 0.3rem;
    transition: 0.3s ease-in-out;
    transition-delay: 0.35s;
    overflow: hidden;
}
.button-mat-valider:before {
    content: "";
    display: block;
    background: #4CAF50;
    position: absolute;
    width: 200%;
    height: 500%;
    border-radius: 100%;
    transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
}
/* Bouton connexion */
.button-mat-connexion {
    color: #f48b00;
    border: 0px transparent;
    border-radius: 0.3rem;
    transition: 0.3s ease-in-out;
    transition-delay: 0.35s;
    overflow: hidden;
}
.button-mat-connexion:before {
    content: "";
    display: block;
    background: #f48b00;
    position: absolute;
    width: 200%;
    height: 500%;
    border-radius: 100%;
    transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
}

/* Bouton ajouter */
.button-mat:hover .psuedo-text {
    color: white;
}
.button-mat:hover {
    color: transparent;
}
/* Bouton valider */
.button-mat-valider:hover .psuedo-text-valider {
    color: white;
}
.button-mat-valider:hover {
    color: transparent;
}
/* Bouton connexion */
.button-mat-connexion:hover .psuedo-text-connexion {
    color: white;
}
.button-mat-connexion:hover {
    color: transparent;
}

.btn--8 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn--8:before {
    transform: translate(30%, 10%) translateZ(0);
}
.btn--8:hover:before {
    transform: translate(-45%, -34%) translateZ(0);
}  

/********************************************************/
/* Gestion du panier */
table.tableMobile {
    display: none;
}

div table.table {
    text-align: center;
    border: 0px;
    margin-bottom: 20px;
}

table.tableMobile {
    margin-bottom: 5px;
}

table.tableLS .thead-dark th:nth-of-type(1),
table.tableLS .thead-dark th:nth-of-type(2),
table.tableLS .thead-dark th:nth-of-type(3), 
table.tableLS .thead-dark th:nth-of-type(4),
table.tableLS .thead-dark th:nth-of-type(5) {
    width: 15%;
}
table.table tbody img {
    width: 80%;
    margin: 0;
    padding: 0;
}
table.table tbody .adminPhoto {
    width: 15%;
    margin: 0;
    padding: 0;
}
table.table tbody td {
    vertical-align: middle;
}
table.table a.moinsQuantity,
table.table a.plusQuantity {
    width: 35px;
    border-radius: 5px 5px 5px 5px;
    background-color: var(--bgnav-color);
    color: black;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
}
table.table a.moinsQuantity {
    padding: 1px 11px;
    margin-right: 10px; 
}
table.table a.plusQuantity {
    padding: 1px 7px;
    margin-left: 10px;
}

table.table .PanierMontantTotal {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}
table.table .PanierMontantTotaldeArticle {
    color: black;
    font-size: 1.1em;
    font-weight: normal;
    font-style: italic;
}

table.table .colQuantite a,
table.table .colQuantite span {
    display: inline-block;
}

.panierTailleNonChoisi {
    background-color: tomato;
    color: white;
}
/**************************************************************************
**************************************************************************
* FIN Affichage 1 produit *
**************************************************************************
**************************************************************************/
.containerPanier button {
    margin-bottom: 5px;
}

.containerPanier p.titrePanier {
    /* margin: 1% auto 1% 1%; */
    margin: 1% auto 1% auto;
    /* padding: 5px 5px; */
    font-size: 1em;
    /* font-weight: bold; */
    width: 100%;
    background-color: lightgray;
    border-radius: 5px 5px;
    overflow: hidden;
}
.containerPanier p.titrePanier a.retour {
    font-size: 1em;
    margin-right: 20px;
}

.containerPanier p.titrePanier span.montantTotal {
    float: right;
    font-size: 1.2em;
    font-weight: bold;
    background-color: var(--bgnav-color);
    padding-left: 10px;
    padding-right: 10px;
}

.containerPanier p.titrePanier span.montantTotal span.textepetit {
    font-size: 0.8em;
}

.containerPanier .vide {
    margin: 5% auto 57% 2%;
    font-size: 1.2em;
    font-weight: normal;
    /* width: 50%; */
    /* background-color: lightgray; */
    /* border-radius: 5px 5px; */
}
.containerPanier .vide .far {
    font-size: 1.8em;
    margin-left: 15px;
}

.containerPanier a.taille {
    width: 40px;
    margin-right: 2px;
    margin-bottom: 10px;
    background-color: #f2c506;
    color: black;
    border-radius: 5px 5px;
}
.containerPanier a.tailleEncadree {
    border: 1px solid var(--bgnav-color);
    background-color: black;
    color: white;
    margin-bottom: 4px;
    border-radius: 5px 5px;
}

.modal-open .modal {
    background: rgba(242, 197, 6, 0.5);
}
/**************************************************************************
**************************************************************************
* FIN Affichage 1 panier *
**************************************************************************
**************************************************************************/
div.adminActions a.add {
    border-radius: 5px 5px 5px 5px;
    padding: 5px 5px;
    background-color: green;
    color: white;
    margin: 5px 5px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
div.adminActions a.add:hover {
    background-color: white;
    color: green;
}

div.adminActions a.see {
    border-radius: 5px 5px 5px 5px;
    padding: 5px 5px;
    background-color: lightblue;
    color: black;
    margin: 5px 5px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
div.adminActions a.see:hover {
    background-color: black;
    color: lightblue;
}

div.adminActions a.edit {
    border-radius: 5px 5px 5px 5px;
    padding: 5px 5px;
    background-color: #0402d1;
    color: white;
    margin: 5px 5px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
div.adminActions a.edit:hover {
    background-color: white;
    color: #0402d1;
}

div.adminActions a.envelope {
    border-radius: 5px 5px 5px 5px;
    padding: 5px 5px;
    background-color: #f2c506;
    color: black;
    margin: 5px 5px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
div.adminActions a.envelope:hover {
    background-color: black;
    color: #f2c506;
}


.containerProduits div.sticky {
    display: none;
  }

/**************************************************************************
**************************************************************************
* FIN Gestion admin *
**************************************************************************
**************************************************************************/

@media screen and (max-width: 800px) {
    ul.listeProduits {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    ul.listeProduits li {
        width: 70%;
    }
    ul.listeProduits figure {
        text-align: center;
    }    

    table.tableMobile {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .containerProduits aside ul {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    ul.listeProduits .panierClick {
        display: none;
    }
    ul.listeProduits .panierClick2 {
        display: inline;
        position: absolute;
        z-index: 99;
        opacity: 1;
        left: calc(100% / 5);        
    }

    ul.listeProduits figure {
        text-align: center;
    }

    /* Panier : Tableau */
    table.tableLS {
        display: none;
    }
    table.tableMobile {
        display: inline;
    }

    table.tableLS .colQuantite a,
    table.tableLS .colQuantite span {
        display: block;
    }

    table.table td.colaGauche p {
        text-align: left;
    }
    /* Fin */

    .containerUnProduitModal .infoProduitModal {
        margin-left: 1px;
    }

    .titreProduitModal h3.prix {
        background: url(../img/image.png) no-repeat;
        background-size: contain;
        text-indent : 7px;
        font-size: 0.9rem;
        /* font-weight: bold; */
        font-style: italic;
        text-align: center;
        color: white;
        font-style: italic;
        padding: 1% 0% 1% 0%;
        margin: 1% auto 0.5% auto;    
        width: 20%;
    }    

    .containerProduits span.animPanier {
        display: none;
    }
    .containerProduits div.sticky {
        display: inline;
        position: -webkit-sticky;
        position: sticky;
        text-align: right;
        top: 150px;
    }
}
/**************************************************************************
**************************************************************************
* FIN Media Queries *
**************************************************************************
**************************************************************************/