html{
    background-color: rgb(255, 255, 255);
}
.hidden-row{
    display:none;
}
/* TABLEAUX VUE INDEX.HTML.TWIG DU DOSSIER ARTICLE */
.imgUser{
    width: 20%;
}
h5{
    text-align: center;
    margin: 20px 0 20px 0;
}
#newAdminArticle{
    margin: 20px 0 20px 45.2%;
}
.adminIndex{
    display: block;
}