html{
    background-color: rgb(255, 255, 255);
}
.hidden-row{
    display:none;
}
/* TABLEAUX VUE INDEX.HTML.TWIG DU DOSSIER ARTICLE */
.imgUser{
    width: 20%;
}
h5{
    text-align: center;
    margin: 20px 0 20px 0;
}
/* bouton ajout d'article */
#newAdminArticle{
    display:block;
    width:21%;
    margin:0 auto;
}
.adminIndex{
    display: block;
}
/*p admin index articles texte cut */
.textShow{
    overflow-wrap: anywhere;
}

/* Pascal : Ajouter une icone à coté de Bonjour */
.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    left: -5px;
    top: 0;    
}

.login::before {
    font-family: "FontAwesome";
    font-weight: 900; 
    content: "\f007";
}

.btn.ti-close{
    width: 5%;
    color: black;
}
.commentDelete{
    text-align: right;
}