html{
    background-color: rgb(255, 255, 255);
}
.hidden-row{
    display:none;
}
/* TABLEAUX VUE INDEX.HTML.TWIG DU DOSSIER ARTICLE */
.imgUser{
    width: 20%;
}
h5{
    text-align: center;
    margin: 20px 0 20px 0;
}
#newAdminArticle{
    margin: 20px 0 20px 45.2%;
}
.adminIndex{
    display: block;
}
/* article show */
.textShow{
    overflow-wrap: anywhere;
}

/* Pascal : Ajouter une icone à coté de Bonjour */
.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    left: -5px;
    top: 0;    
}

.login::before {
    font-family: "FontAwesome";
    font-weight: 900; 
    content: "\f007";
}