{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}

{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Blog</title>

    <!-- Favicon -->
    <link rel="icon" href="./img/core-img/favicon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Top Search Form Area -->
    <div class="top-search-area">
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Close -->
                        <button type="button" class="btn close-btn" data-dismiss="modal"><i class="ti-close"></i></button>
                        <!-- Form -->
                        <form action="index.html" method="post">
                            <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area">

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(assets/img/bg-img/38.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">Le Blog</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index.html"><i class="icon_house_alt"></i> Accueil</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Blog Area Start -->
    <div class="alime-blog-area section-padding-80-0 mb-70">
        <div class="container">
            <div class="row">

                <!-- Single Blog Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                        <!-- Post Thumbnail -->
                        <a href="./tournoi-special-greoux.html" class="post-thumbnail"><img src="assets/img/bg-img/51.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="./3x3.html" class="btn post-catagory">Tournoi 3x3</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">15 Juillet 2018</a>
                                <a href="#">13 Commentaires</a>
                            </div>
                            <a href="./tournoi-special-greoux.html" class="post-title">Tournoi special à Greoux-les-bains</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="400ms">
                        <!-- Post Thumbnail -->
                        <a href="./volleywood-summer.html" class="post-thumbnail"><img src="assets/img/bg-img/52.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="nos-tournois.html" class="btn post-catagory">Nos Tournois</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">27 Avril 2017</a>
                                <a href="#">16 Commentaires</a>
                            </div>
                            <a href="./volleywood-summer.html" class="post-title">Volleywood Summer #1</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="700ms">
                        <!-- Post Thumbnail -->
                        <a href="./beachvolleymarathon.html" class="post-thumbnail"><img src="assets/img/bg-img/53.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="./stages.html" class="btn post-catagory">stages</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">26 Mai 2018</a>
                                <a href="#">30 Commentaires</a>
                            </div>
                            <a href="./beachvolleymarathon.html" class="post-title">BeachvolleyMarathon en Italie</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                        <!-- Post Thumbnail -->
                        <a href="./athletes-internationaux.html" class="post-thumbnail"><img src="assets/img/bg-img/54.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="./rencontres.html" class="btn post-catagory">Rencontres</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">22 Juillet 2018</a>
                                <a href="#">15 Commentaires</a>
                            </div>
                            <a href="./athletes-internationaux.html" class="post-title">Athlètes internationaux</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="400ms">
                        <!-- Post Thumbnail -->
                        <a href="./evenement-a-venir.html" class="post-thumbnail"><img src="assets/img/bg-img/55.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="./a-venir.html" class="btn post-catagory">à venir</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">1 Janvier 2020</a>
                                <a href="#">3 Commentaires</a>
                            </div>
                            <a href="./evenement-a-venir.html" class="post-title">Événements à venir</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="700ms">
                        <!-- Post Thumbnail -->
                        <a href="./tournoi-6x6-telethon.html" class="post-thumbnail"><img src="assets/img/bg-img/56.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="./6x6.html" class="btn post-catagory">Tournoi 6x6</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">26 Octobre, 2017</a>
                                <a href="#">36 Commentaires</a>
                            </div>
                            <a href="./tournoi-6x6-telethon.html" class="post-title">Tournoi 6x6 Téléthon Fac StJérome</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                        <!-- Post Thumbnail -->
                        <a href="./shooting.html" class="post-thumbnail"><img src="assets/img/bg-img/57.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="./collection-hf.html" class="btn post-catagory">Collection HF</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">30 Mai, 2017</a>
                                <a href="#">15 Commentaires</a>
                            </div>
                            <a href="./shooting.html" class="post-title">Shooting pour la collection Volleywood</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="400ms">
                        <!-- Post Thumbnail -->
                        <a href="./tournoi-pentecote.html" class="post-thumbnail"><img src="assets/img/bg-img/58.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="./voyage.html" class="btn post-catagory">Voyages</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">21 Mai 2018</a>
                                <a href="#">300 Commentaires</a>
                            </div>
                            <a href="./tournoi-pentecote.html" class="post-title">Tournoi de la Pentecote Annecy</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="700ms">
                        <!-- Post Thumbnail -->
                        <a href="./tournoi-mixte-3x3.html" class="post-thumbnail"><img src="assets/img/bg-img/59.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="./3x3.html" class="btn post-catagory">Tournoi 3x3</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">15 Aout 2017</a>
                                <a href="#">300 Commentaires</a>
                            </div>
                            <a href="./tournoi-mixte-3x3.html" class="post-title">Tournoi mixte 3x3</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Blog Area End -->

{% endblock %}