{% extends 'base.html.twig' %}

{% block title %}Volleywood Accueil{% endblock %}

{% block body %}


<!-- Welcome Area Start -->
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">
        <!-- Single Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(assets/img/bg-img/1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Text -->
                    <div class="col-12 col-lg-8 col-xl-6">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInDown" data-delay="900ms">
                                <div class="global">
                                    <div id="scene" class="scene">
                                        <ul>
                                            <li class="layer" data-depth="0.5"><img src="assets/img/3plan.png"></li>
                                            <li class="layer" data-depth="1"><img src="assets/img/2plan.png"></li>
                                            <li class="layer" data-depth="1.5"><img src="assets/img/4plan.png"></li>
                                            <li class="layer" data-depth="2"><img src="assets/img/5plan.png"></li>
                                            <li class="layer" data-depth="2.5"><img src="assets/img/6plan.png"></li>
                                        </ul>
                                    </div>
                                </div>
                                <script src="parallax/parallax.js"></script>
                                <script>
                                    var scene = document.getElementById('scene');
                                    var parallax = new Parallax(scene);
                                </script>
                            </h2>

                            <p data-animation="bounceInDown" data-delay="500ms">Tous les événements Beach-Volleyball :
                                du Prophète à l'escale borely, jusqu'au Prado. Rassemblez tous les joueurs de volley &
                                beach-volley du coin.</p>
                            <div class="hero-btn-group" data-animation="bounceInDown" data-delay="100ms">
                                <a href="{{ path('contact') }}" class="btn alime-btn mb-3 mb-sm-0 mr-4">Nous contacter</a>
                                <a class="hero-mail-contact"
                                    href="mailto:deniau.f@hotmail.fr">volleywood@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(assets/img/bg-img/2.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Text -->
                    <div class="col-12 col-lg-8 col-xl-6">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInUp" data-delay="100ms">Avec <br>Volleywood</h2>
                            <p data-animation="bounceInUp" data-delay="500ms">2x2 - 3x3 à Marseille pour tous, 100%
                                gratuit ! Hommes, femmes, Mixtes, enfants, erasmus, debutants, pros, etc... C'est ici
                                que ça se passe ! Toute l'année.</p>
                            <div class="hero-btn-group" data-animation="bounceInUp" data-delay="900ms">
                                <a href="{{ path('contact') }}" class="btn alime-btn mb-3 mb-sm-0 mr-4">Nous contacter</a>
                                <a class="hero-mail-contact"
                                    href="mailto:deniau.f@hotmail.fr">volleywood@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome Area End -->

<!-- About Us Area Start -->
<div class="about-us-area section-padding-80-0 clearfix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="about-us-content mb-80">
                    <h3 class="wow fadeInUp" data-wow-delay="100ms">Bienvenue à Volleywood</h3>
                    <div class="line wow fadeInUp" data-wow-delay="200ms"></div>
                    <p class="wow fadeInUp" data-wow-delay="300ms">Vous recherchez un moyen de pratiquer votre passion
                        pour le beachvolleyball sur Marseille toute l'année sans etre obligé de payer une adhésion ou
                        une license supplémentaire ?</p>
                    <p class="wow fadeInUp" data-wow-delay="400ms">Volleywood propose sur la plage du prophète et Prado
                        Sud des sessions entrainements, jeux, Tournois 2x2, 3x3, 4x4 en mélangeant tous les niveaux,
                        sans discrimination, 100% gratuit.</p>
                    <a class="btn alime-btn btn-2 mt-30 wow fadeInUp" data-wow-delay="500ms"
                        href="{{ path('contact') }}">Contactez-nous</a>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="about-video-area mb-80 wow fadeInUp" data-wow-delay="100ms">
                    <img src="assets/img/bg-img/17.jpg" alt="">
                    <div class="video-icon">
                        <a href="https://www.youtube.com/watch?v=NoqlARGDlHo" class="video-play-btn"><i
                                class="arrow_triangle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Gallery Area Start -->
<div class="alime-portfolio-area section-padding-80 clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Projects Menu -->
                <div class="alime-projects-menu">
                    <div class="portfolio-menu text-center">
                        <button class="btn active" data-filter="*">Tout</button>
                        <button class="btn" data-filter=".human">Marseille</button>
                        <button class="btn" data-filter=".nature">Tournois</button>
                        <button class="btn" data-filter=".country">Entrainements</button>
                        <button class="btn" data-filter=".video">Video</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row alime-portfolio">
            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="100ms">
                <div class="single-portfolio-content">
                    <img src="../public/assets/img/bg-img/3.jpg" alt="">
                    <div class="hover-content">
                        <a href="../public/assets/img/bg-img/3.jpg" class="portfolio-img"><i
                                class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item video human mb-30 wow fadeInUp"
                data-wow-delay="300ms">
                <div class="single-portfolio-content">
                    <img src="../public/assets/img/bg-img/4.jpg" alt="">
                    <div class="hover-content">
                        <a href="../public/assets/img/bg-img/4.jpg" class="portfolio-img"><i
                                class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item country mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="single-portfolio-content">
                    <img src="../public/assets/img/bg-img/35.jpg" alt="">
                    <div class="hover-content">
                        <a href="../public/assets/img/bg-img/35.jpg" class="portfolio-img"><i
                                class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item human mb-30 wow fadeInUp" data-wow-delay="700ms">
                <div class="single-portfolio-content">
                    <img src="../public/assets/img/bg-img/6.jpg" alt="">
                    <div class="hover-content">
                        <a href="../public/assets/img/bg-img/6.jpg" class="portfolio-img"><i
                                class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="100ms">
                <div class="single-portfolio-content">
                    <img src="../public/assets/img/bg-img/7.jpg" alt="">
                    <div class="hover-content">
                        <a href="../public/assets/img/bg-img/7.jpg" class="portfolio-img"><i
                                class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item video country mb-30 wow fadeInUp"
                data-wow-delay="300ms">
                <div class="single-portfolio-content">
                    <img src="../public/assets/img/bg-img/8.jpg" alt="">
                    <div class="hover-content">
                        <a href="../public/assets/img/bg-img/8.jpg" class="portfolio-img"><i
                                class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item human mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="single-portfolio-content">
                    <img src="../public/assets/img/bg-img/10.jpg" alt="">
                    <div class="hover-content">
                        <a href="../public/assets/img/bg-img/10.jpg" class="portfolio-img"><i
                                class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="700ms">
                <div class="single-portfolio-content">
                    <img src="../public/assets/img/bg-img/9.jpg" alt="">
                    <div class="hover-content">
                        <a href="../public/assets/img/bg-img/9.jpg" class="portfolio-img"><i
                                class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-6 single_gallery_item video country mb-30 wow fadeInUp"
                data-wow-delay="100ms">
                <div class="single-portfolio-content">
                    <img src="../public/assets/img/bg-img/36.jpg" alt="">
                    <div class="hover-content">
                        <a href="../public/assets/img/bg-img/36.jpg" class="portfolio-img"><i
                                class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item human mb-30 wow fadeInUp" data-wow-delay="300ms">
                <div class="single-portfolio-content">
                    <img src="../public/assets/img/bg-img/37.jpg" alt="">
                    <div class="hover-content">
                        <a href="../public/assets/img/bg-img/37.jpg" class="portfolio-img"><i
                                class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item country mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="single-portfolio-content">
                    <img src="../public/assets/img/bg-img/5.jpg" alt="">
                    <div class="hover-content">
                        <a href="../public/assets/img/bg-img/5.jpg" class="portfolio-img"><i
                                class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="700ms">
                <a href="{{ path('galerie') }}" class="btn alime-btn btn-2 mt-15">Voir plus</a>
            </div>
        </div>
    </div>
</div>
<!-- Gallery Area End -->






{% endblock %}