{% extends 'base.html.twig' %}

{% block title %}Blog VIP{% endblock %}

{% block body %}

    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area blog bg-img bg-overlay jarallax" style="background-image: url(assets/img/bg-img/18.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <a class="post-catagory">Volleywood sur tous les terrains</a>
                        <h2 class="page-title">Très bientôt partout en France</h2>
                        <div class="post-meta">
                            <a href="https://www.instagram.com/frankgouki/" class="post-author">FranckD.</a>
                            <a href="#" class="post-date">21 Avril 2019</a>
                            <a href="#" class="post-comments">Commentaires</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Blog Details Area Start -->
    <div class="alime--blog-area section-padding-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <!-- Blog Details Text -->
                    <div class="blog-details-text">
                        <p>Volleywood©️ R.N.A. : W133026498 Notre association est née en Avril 2017, en perpétuel évolution depuis sa création par FranckD. et PierreL. Nous accueillons fréquemment des nouveaux participants et collaborateurs afin de créer des événements, tournois, entrainements, voyages, sessions 100% jeux, etc...</p>


                        <div class="my-5">
                            <div class="row">
                                <div class="col-12 col-lg-8">
                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <img class="mb-10" src="assets/img/bg-img/60.jpg" alt="">
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <img class="mb-10" src="assets/img/bg-img/61.jpg" alt="">
                                        </div>
                                        <div class="col-12">
                                            <img class="mb-10" src="assets/img/bg-img/63.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <img class="mb-10" src="assets/img/bg-img/62.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <p>N'hésitez pas à nous contacter si vous êtes un amoureux du volley, beach-volleyball et que vous souhaitez faire évoluer cette activité sur Marseille.

Le Beachvolleyball 2x2 - 3x3 à Marseille pour tous 100% gratuit ! C'est Nous ! Hommes, femmes, Mixtes, enfants, erasmus, debutants, pros, etc... C'est ici que ça se passe ! Toute l'année.</p>


                        <!-- Blockquote -->
                        <blockquote class="alime-blockquote">
                            <h4>En sport, tout demande de la détermination. Les trois D : Détermination, Disponibilité, Discipline ; et la réussite est à portée de main.</h4>
                            <h6>- Philip Roth</h6>
                        </blockquote>

                        <p>#volleywood 💪🏽⛅🏆🏐🌞🎖🥇🥈🥉</p>

                        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/NoqlARGDlHo?controls=0&amp;start=2" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

                        <p>En 2 ans nous avons organisés plus d'une vingtaine de Tournois sur Marseille, plage du Prado, Plage du Prophète... Nous avons participés avec nos plus fidèles membres aux meilleurs tournois 2x2, 3x3, 4x4, 6x6 de France afin de nous inspirer au mieux de ce qui plait le plus aux joueurs. Nous proposons chaque week-end des sessions gratuites ouvertes à tous afin de mélanger les niveaux et progresser dans la bonne humeur et l'esprit sportif. La communauté n'a fait que grandir vous etes plus de 500 à nous suivre sur Facebook et le site vous permettra de ne rater aucun événement. Grace à l'application Volleywood vous pouvez gerer un tournoi à 100% d'un simple clique. Profitez pour partager et échanger vos expériences de volley et beach-volley sur le blog. </p>
                    </div>

                    <!-- Post Author Area -->
                    <div class="post-author-area mt-50 d-flex align-items-center justify-content-between">
                        <ul class="popular-tags">
                            <li><a class="btn badges-btn" href="#">BEACH-VOLLEY</a></li>
                            <li><a class="btn badges-btn" href="#">MARSEILLE</a></li>
                            <li><a class="btn badges-btn" href="#">VOLLEYBALL</a></li>
                        </ul>

                        <!-- Share Info -->
                        <div class="post-social-info d-flex align-items-center">
                            <p>Nous suivre :</p>
                            <a target="_blank" href="https://www.facebook.com/VolleywoodMarseille/"><i class="ti-facebook" aria-hidden="true"></i></a>
                            <a target="_blank" href="https://twitter.com/goukinou2"><i class="ti-twitter-alt" aria-hidden="true"></i></a>
                            <a target="_blank" href="https://www.youtube.com/user/goukinou2"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                            <a target="_blank" href="https://www.instagram.com/frankgouki/"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Details Area End -->

    <!-- Pager Area Start -->
    <div class="alime-pager-area section-padding-0-80">
        <div class="container">
            <div class="row no-gutters">
                <!-- Previous -->
                <div class="col-6">
                    <div class="previous bg-img" style="background-image: url(assets/img/bg-img/5.jpg);">
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <a href="{{ path('blog') }}" class="post-title">Tournoi avec les habitués</a>
                            <a target="_blank" href="https://www.facebook.com/VolleywoodMarseille/" class="previous-link"><i class="arrow_left"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Next -->
                <div class="col-6">
                    <div class="next bg-img" style="background-image: url(assets/img/bg-img/49.jpg);">
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <a href="{{ path('blog') }}" class="post-title">et bien plus encore...</a>
                            <a target="_blank" href="https://www.facebook.com/VolleywoodMarseille/" class="next-link"><i class="arrow_right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pager Area End -->


                </div>
            </div>
        </div>
    </div>
    <!-- Comment Area End -->
{% endblock %}