{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}

{% block body %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Tournoi 6x6 Téléthon Fac StJérome</title>

    <!-- Favicon -->
    <link rel="icon" href="assets/img/core-img/favicon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Top Search Form Area -->
    <div class="top-search-area">
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Close -->
                        <button type="button" class="btn close-btn" data-dismiss="modal"><i class="ti-close"></i></button>
                        <!-- Form -->
                        <form action="index.html" method="post">
                            <input type="search" name="top-search-bar" class="form-control" placeholder="Que recherchez-vous ?...">
                            <button type="submit">rechercher</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area blog bg-img bg-overlay jarallax" style="background-image: url(assets/img/bg-img/18.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <a href="#" class="btn post-catagory">Tournoi 6x6</a>
                        <h2 class="page-title">Tournoi 6x6 Téléthon Fac St Jérome</h2>
                        <div class="post-meta">
                            <a href="https://www.instagram.com/frankgouki/" class="post-author">FranckD.</a>
                            <a href="#" class="post-date">26 Octobre 2017</a>
                            <a href="#" class="post-comments">Commentaires</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Blog Details Area Start -->
    <div class="alime--blog-area section-padding-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <!-- Blog Details Text -->
                    <div class="blog-details-text">
                        <p>Volleywood©️ R.N.A. : W133026498 Notre association est née en Avril 2017, en perpétuel évolution depuis sa création par FranckD. et PierreL. Nous accueillons fréquemment des nouveaux participants et collaborateurs afin de créer des événements, tournois, entrainements, voyages, sessions 100% jeux, etc...</p>


                        <div class="my-5">
                            <div class="row">
                                <div class="col-12 col-lg-8">
                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <img class="mb-10" src="assets/img/bg-img/60.jpg" alt="">
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <img class="mb-10" src="assets/img/bg-img/61.jpg" alt="">
                                        </div>
                                        <div class="col-12">
                                            <img class="mb-10" src="assets/img/bg-img/63.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <img class="mb-10" src="assets/img/bg-img/62.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <p>N'hésitez pas à nous contacter si vous êtes un amoureux du volley, beach-volleyball et que vous souhaitez faire évoluer cette activité sur Marseille.

Le Beachvolleyball 2x2 - 3x3 à Marseille pour tous 100% gratuit ! C'est Nous ! Hommes, femmes, Mixtes, enfants, erasmus, debutants, pros, etc... C'est ici que ça se passe ! Toute l'année.</p>


                        <!-- Blockquote -->
                        <blockquote class="alime-blockquote">
                            <h4>En sport, tout demande de la détermination. Les trois D : Détermination, Disponibilité, Discipline ; et la réussite est à portée de main.</h4>
                            <h6>- Philip Roth</h6>
                        </blockquote>

                        <p>#volleywood 💪🏽⛅🏆🏐🌞🎖🥇🥈🥉</p>

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/NoqlARGDlHo?controls=0&amp;start=2" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        <p>En 2 ans nous avons organisés plus d'une vingtaine de Tournois sur Marseille, plage du Prado, Plage du Prophète... Nous avons participés avec nos plus fidèles membres aux meilleurs tournois 2x2, 3x3, 4x4, 6x6 de France afin de nous inspirer au mieux de ce qui plait le plus aux joueurs. Nous proposons chaque week-end des sessions gratuites ouvertes à tous afin de mélanger les niveaux et progresser dans la bonne humeur et l'esprit sportif. La communauté n'a fait que grandir vous etes plus de 500 à nous suivre sur Facebook et le site vous permettra de ne rater aucun événement. Grace à l'application Volleywood vous pouvez gerer un tournoi à 100% d'un simple clique. Profitez pour partager et échanger vos expériences de volley et beach-volley sur le blog. </p>
                    </div>

                    <!-- Post Author Area -->
                    <div class="post-author-area mt-50 d-flex align-items-center justify-content-between">
                        <ul class="popular-tags">
                            <li><a class="btn badges-btn" href="#">BEACH-VOLLEY</a></li>
                            <li><a class="btn badges-btn" href="#">MARSEILLE</a></li>
                            <li><a class="btn badges-btn" href="#">VOLLEYBALL</a></li>
                        </ul>

                        <!-- Share Info -->
                        <div class="post-social-info d-flex align-items-center">
                            <p>Nous suivre :</p>
                            <a target="_blank" href="https://www.facebook.com/VolleywoodMarseille/"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://www.facebook.com/VolleywoodMarseille/"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="https://www.facebook.com/VolleywoodMarseille/"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" href="https://www.facebook.com/VolleywoodMarseille/"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Details Area End -->

    <!-- Pager Area Start -->
    <div class="alime-pager-area section-padding-0-80">
        <div class="container">
            <div class="row no-gutters">
                <!-- Previous -->
                <div class="col-6">
                    <div class="previous bg-img" style="background-image: url(assets/img/bg-img/5.jpg);">
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <a href="#" class="post-title">Tournoi avec les habitués</a>
                            <a href="https://www.facebook.com/VolleywoodMarseille/" class="previous-link"><i class="arrow_left"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Next -->
                <div class="col-6">
                    <div class="next bg-img" style="background-image: url(assets/img/bg-img/49.jpg);">
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <a href="#" class="post-title">et bien plus encore...</a>
                            <a href="https://www.facebook.com/VolleywoodMarseille/" class="next-link"><i class="arrow_right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pager Area End -->

    <!-- Related News Area Start -->
    <div class="related-news-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>Recommandé pour vous</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Blog Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-post-area">
                        <!-- Post Thumbnail -->
                        <a href="volleywood-summer.html" class="post-thumbnail"><img src="assets/img/bg-img/52.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="nos-tournois.html" class="btn post-catagory">Nos Tournoi</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">27 Avril 2017</a>
                                <a href="#">16 Commentaires</a>
                            </div>
                            <a href="volleywood-summer.html" class="post-title">Volleywood Summer #1</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-post-area">
                        <!-- Post Thumbnail -->
                        <a href="beachvolleymarathon.html" class="post-thumbnail"><img src="assets/img/bg-img/53.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="stages.html" class="btn post-catagory">Stages</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">26 Mai 2018</a>
                                <a href="#">30 Commentaires</a>
                            </div>
                            <a href="beachvolleymarathon.html" class="post-title">BeachvolleyMarathon en Italie</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-post-area">
                        <!-- Post Thumbnail -->
                        <a href="athletes-internationaux.html" class="post-thumbnail"><img src="assets/img/bg-img/54.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="rencontres.html" class="btn post-catagory">rencontres</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">22 juillet 2018</a>
                                <a href="#">15 Commentaires</a>
                            </div>
                            <a href="athletes-internationaux.html" class="post-title">Athlètes internationaux</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-post-area">
                        <!-- Post Thumbnail -->
                        <a href="evenement-a-venir.html" class="post-thumbnail"><img src="assets/img/bg-img/55.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="a-venir.html" class="btn post-catagory">à venir...</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">1 Janvier 2020</a>
                                <a href="#">3 Commentaires</a>
                            </div>
                            <a href="evenement-a-venir.html" class="post-title">Événements à venir</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="border-top mt-5"></div>
        </div>
    </div>
    <!-- Related News Area End -->

    <!-- Comment Area Start -->
    <div class="comment-area section-padding-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <!-- Comments Area -->
                    <div class="comment_area clearfix">
                        <h4 class="mb-30">Commentaires</h4>
                        <ol>
                            <!-- Single Comment Area -->
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Author -->
                                    <div class="comment-author">
                                        <img src="assets/img/bg-img/32.jpg" alt="author">
                                    </div>
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <a href="#" class="post-date">27 déc 2019</a>
                                        <h5>Jérome N.</h5>
                                        <p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
                                        <a href="#" class="like">Like</a>
                                        <a href="#" class="reply">Reply</a>
                                    </div>
                                </div>

                                <ol class="children">
                                    <li class="single_comment_area">
                                        <!-- Comment Content -->
                                        <div class="comment-content d-flex">
                                            <!-- Comment Author -->
                                            <div class="comment-author">
                                                <img src="assets/img/bg-img/33.jpg" alt="author">
                                            </div>
                                            <!-- Comment Meta -->
                                            <div class="comment-meta">
                                                <a href="#" class="post-date">27 déc 2019</a>
                                                <h5>Arnaud V.</h5>
                                                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetu adipisci velit, sed quia non numquam eius modi</p>
                                                <a href="#" class="like">Like</a>
                                                <a href="#" class="reply">Reply</a>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </li>

                            <!-- Single Comment Area -->
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Author -->
                                    <div class="comment-author">
                                        <img src="assets/img/bg-img/34.jpg" alt="author">
                                    </div>
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <a href="#" class="post-date">27 déc 2019</a>
                                        <h5>Pascal J.</h5>
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetu adipisci velit, sed quia non numquam eius modi</p>
                                        <a href="#" class="like">Like</a>
                                        <a href="#" class="reply">Reply</a>
                                    </div>
                                </div>
                                
                                <ol class="children">
                                    <li class="single_comment_area">
                                        <!-- Comment Content -->
                                        <div class="comment-content d-flex">
                                            <!-- Comment Author -->
                                            <div class="comment-author">
                                                <img src="assets/img/bg-img/33.jpg" alt="author">
                                            </div>
                                            <!-- Comment Meta -->
                                            <div class="comment-meta">
                                                <a href="#" class="post-date">28 déc 2019</a>
                                                <h5>Arnaud V.</h5>
                                                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetu adipisci velit, sed quia non numquam eius modi</p>
                                                <a href="#" class="like">Like</a>
                                                <a href="#" class="reply">Reply</a>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </div>

                    <!-- Leave A Reply -->
                    <div class="alime-contact-form mt-50">
                        <h4 class="mb-30">Laissez un commentaire</h4>

                        <!-- Form -->
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <input type="text" name="message-name" class="form-control mb-30" placeholder="Votre Nom">
                                </div>
                                <div class="col-12 col-md-6">
                                    <input type="email" name="message-email" class="form-control mb-30" placeholder="Votre Email">
                                </div>
                                <div class="col-12">
                                    <input type="text" name="website" class="form-control mb-30" placeholder="votre site">
                                </div>
                                <div class="col-12">
                                    <textarea name="message" class="form-control mb-30" placeholder="Message"></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn alime-btn btn-2 mt-15">Envoyer</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Comment Area End -->


{% endblock %}