{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <div class="comment-area section-padding-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <!-- Comments Area -->
                    <div class="comment_area clearfix">
                        <h4 class="mb-30"></h4>
                        <ol>
                            <!-- Leave A Reply -->

                        <div class="alime-contact-form mt-50">
                            <h4 class="mb-30">Créer un article</h4>
                            {{ include('article/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <a href="{{ path('article_index') }}">back to list</a>
{% endblock %}
